* {box-sizing: border-box;}

body {
  overflow: auto;
  margin: 0;
  background-color: rgb(57, 130, 59);
}

.main {
  min-height: 1100px;
  min-width: 320px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(57, 130, 59);
}

.main h1 a {
  margin: 10px;
  color: white;
  transition: .4s;
  text-decoration: none;
  z-index: 5;
}
.main h1 a:hover {
  color: purple;
}

.icon-place {
  position: absolute;
  top: 55px;
  right: 30px;
  width: 110px;
  height: 110px;
  z-index: 1;
}

.canada-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-radius: 15px;
}

p {
  margin: 30px 10px;
  color: white;
  font-size: 20px;
  text-align: justify;
  text-indent: 20px;
}

.result4weather {
  margin: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  min-width: 320px;
  min-height: 700px;
  max-width: 1440px;
  gap: 10px;
  margin: 10px auto;
  padding: 0 15px;
}

.grid>div {
  height: 180px;
  background-color: rgb(10, 44, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: .3s;
  cursor: pointer;
  opacity: .8;
}

.grid>div:hover {
  opacity: 1;
  transform: scale(1.01);
}

.grid>div:hover h2 {
  color: red;
  font-size: 28px;
}

.grid>div:active h2 {
  color: rgb(224, 209, 0);
}

.grid>div h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  text-align: center;
  color: purple;
  margin: 0;
  padding: 5px;
  z-index: 1;
  transition: .3s;
}

.grid>div h2 span {
  color: red;
}

.grid>div img {
  position: absolute;
  width: 100%;
  height: 100%;
}


.toronto {grid-area: 1 / 1 / 3 / 5;}
.vancouver {grid-area: 3 / 1 / 5 / 5;}
.montreal {grid-area: 5 / 1 / 7 / 5;}
.edmonton {grid-area: 7 / 1 / 9 / 5;}
.ottawa {grid-area: 9 / 1 / 11 / 5;}
.calgary {grid-area: 11 / 1 / 13 / 5;} 
   
@media screen and (min-width: 580px) {
  .grid>div {min-height: 230px;}
  .grid>div h2 {left: 0;}
  .main h1 a {margin: 20px 40px;}
  .icon-place {top: 100px; width: 100px; height: 100px;}
  .toronto {grid-area: 1 / 1 / 2/ 3;}
  .vancouver {grid-area: 1 / 3 / 2/ 5;}
  .montreal {grid-area: 2 / 1 / 3/ 3;}
  .edmonton {grid-area: 2 / 3 / 3/ 5;}
  .ottawa {grid-area: 3 / 1 / 4/ 3;}
  .calgary {grid-area: 3 / 3 / 4/ 5;}
}

@media screen and (min-width: 1080px) {
  .grid>div {min-height: 330px;}
  .grid>div h2 {left: 30px;}
  .icon-place {top: 80px; width: 140px; height: 140px;}
  .toronto {grid-area: 1 / 1 / 2/ 2;}
  .vancouver {grid-area: 1 / 2 / 2/ 5;}
  .montreal {grid-area: 2 / 1 / 3/ 3;}
  .edmonton {grid-area: 2 / 3 / 3/ 5;}
  .ottawa {grid-area: 3 / 1 / 4/ 2;}
  .calgary {grid-area: 3 / 2 / 4/ 5;}
}

@media screen and(min-width: 1440px) {
  .grid>div {min-height: 460px;}
  .grid>div h2 {left: 50px;}
  .toronto {grid-area: 1 / 1 / 2/ 4;}
  .vancouver {grid-area: 1 / 4 / 2/ 4;}
  .montreal {grid-area: 1 / 4 / 3/ 5;}
  .edmonton {grid-area: 2 / 1 / 4/ 2;}
  .ottawa {grid-area: 2 / 2 / 3/ 4;}
  .calgary {grid-area: 3 / 2 / 4/ 5;}
}